@import '../../assets/scss/variables.scss';

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
background-color: #e8ecec !important;
font-size: 0.875rem;
line-height: 1.333rem;
font-family: 'Poppins', sans-serif !important;
}


.navbar {
background: white;
  border-bottom: 1px solid lightgray;
}

.navbar-brand {
  font-size: 14px;
  color: #888;
}
